.git
*.pth
*.hdf5
*.h5
__pycache__
*.pyc
_logs
paper_statistics
resources/*.pdf
resources/*.png
scripts
utils
pytorch/main.py
pytorch/evaluate.py
pytorch/finetune_template.py
pytorch/losses.py
venv
.venv
